@import url("reset.css");

.wrapper {
  min-width: 100%;
  overflow: hidden;
}

._container {
  max-width: 1046px;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;

  &__menu {
    margin-left: 132px;
  }

  &__logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
  }

  &__container {
    display: flex;
    align-items: center;
    min-height: 104px;
  }
}

menu {
  &__list {

  }

  &__item {

  }

  &__link {

  }
}